[Desktop Entry]
Type=X-PanelPlugin
Name=Night Light
Comment=Toggle night light (wlsunset) on/off
Icon=weather-clear-night
X-LXQt-Plugin-Type=desktoppanel
X-LXQt-PluginLibrary=naravisuals-nightlight
X-LXQt-PluginFor=lxqt-panel
